%tr
  %th.label
    Twitter
  %td
    - fields_for @page do |pf|
      = pf.check_box :notify_twitter_of_children
      = pf.label :notify_twitter_of_children
    - if @page.twitter_id
      = link_to "[#{@page.twitter_id}]", "http://twitter.com/#{Radiant::Config['twitter.username']}/status/#{@page.twitter_id}"